html {
  box-sizing: border-box;
  font-family: karla;
  font-size: 16px;
  font-weight: 400;
}
body {
  padding: 20px;
}
h2,
h4,
p {
  margin: 0;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
#card {
/*   width: 600px;
  height: 400px; */
  box-shadow: 2px 3px 7px 0px rgba(0, 0, 0, 0.35);
  border-radius: 5px;
  overflow: hidden;
}
#top-section {
  width: 100%;
  height: 45%;
  padding: 25px;
}
#bottom-section {
  width: 100%;
  height: 55%;
  color: white;
}

#bottom-left {
  display: inline-block;
  width: 100%;
  height: 100%;
  vertical-align: top;
  background-color: #2ab2af;
  padding: 25px;
}
#bottom-right {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  height: 100%;
  background-color: #1ac9c8;
  padding: 25px;
}

#top-section h2 {
  color: #2ab2af;
  margin-bottom: 20px;
}

#top-section h4 {
  color: #c0df34;
  margin-bottom: 10px;
}
#top-section p {
  color: #98a6bd;
}

#price {
  font-weight: 700;
  font-size: 1.5rem;
}

button {
  color: white;
  background-color: #c0df34;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
}
button:hover {
  cursor: pointer;
  background-color: #a9c42d;
  transform: scale(1.02);
}

#bottom-left h4 {
  margin-bottom: 25px;
}

#bottom-left p {
  font-size: 0.8rem;
  margin-bottom: 40px;
}
#price-frequency,
#price {
  display: inline-block;
}
#price-frequency {
  position: relative;
  top: -3px;
  font-size: 0.75rem;
  opacity: 0.75;
  margin-left: 5px;
}

#price-container {
  margin-bottom: 10px;
}
ul {
  padding: 0;
  list-style: none;
  opacity: 0.78;
  font-size: 0.8rem;
}
footer {
  padding: 20px;
}

@media (min-width: 576px){
  #card{
    width:550px;
    height: 400px;
  }
  #bottom-left, #bottom-right{
    width:50%;
     
  }
}
